In [5]:
import requests
import json
import datetime
import time
import pandas as pd

## Get salary index from Hagstofa Íslands

In [6]:
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
months = dict(zip(months, [str(_).rjust(2, '0')  for _ in range(1, 13)]))

In [7]:
df_salary = pd.read_csv("https://px.hagstofa.is:443/pxis/sq/a1a47246-889c-4aa1-92e0-b16be1519811", sep=";")\
.rename(columns={"Mánuður": "date", "Vísitölugildi": "value"})\
.assign(date = lambda r: r.date.apply(lambda d: datetime.date(*list(map(int, d.split("M"))), 1)))\
.astype(dict(value = float))\
.astype(dict(date='datetime64[ns]'))

df_salary['value_12m_change'] = df_salary['value'].pct_change(12)

## GET property price index from Þjóðskrá

In [8]:
df_property = pd.read_csv("data/fasteignavisitala.csv")\
.assign(date = lambda r: r['Earliest Date'].pipe(pd.to_datetime).dt.date)\
.rename(columns={
    "Sameinuð vísitala íbúðaverðs": "value"
})\
.loc[:, ['date', 'value']]\
.astype(dict(date='datetime64[ns]'))

## GET Arion Banki index and non-index rates

In [9]:
def transform_arion(df):
    df['date'] = pd.to_datetime(df['date'], format='%d.%m.%Y')
    df['floating_rate'] = df['floating_rate'].str.replace(',', '.').astype(float)
    df['base_rate'] = df['base_rate'].str.replace(',', '.').astype(float)

    # Extend the dataframe
    arion_date_range = pd.date_range(df['date'].min(), datetime.date.today())
    df = df.set_index('date').reindex(arion_date_range).ffill()

    # Add rate column that is nvl(floating_rate, base_rate)
    df['rate'] = df['floating_rate'].fillna(df['base_rate'])

    return df[['rate']].reset_index().rename(columns={'index': 'date'})

In [10]:
df_arion_index_rate = pd.read_csv("data/downloads/arion-indexed.scv", sep=' ').pipe(transform_arion)

FileNotFoundError: [Errno 2] No such file or directory: 'data/downloads/arion-indexed.scv'

In [15]:
df_arion_nonindex_rate = pd.read_csv("data/downloads/arion-non-indexed.scv", sep=' ').pipe(transform_arion)

In [16]:
df_arion_nonindex_rate\
.merge(df_arion_index_rate, on='date')\
.rename(columns = dict(rate_x='non_index_rate', rate_y='index_rate'))\
.to_csv("data/rates.csv", index=False)

## GET Taxed salaries

Ajust salary index by average salary

Adjust the salary such that it is an indicator of average yearly salary

https://www.ruv.is/frett/2021/07/12/medallaunin-794-thusund-kronur-a-manudi

In [28]:
df_index = df_salary\
.merge(df_property, on='date')\
.rename(columns = dict(
    value_x = 'salary_index',
    value_12m_change_x = 'salary_12m_change',
    value_y = 'property_index',
    value_12m_change_y = 'property_12m_change',
    value = 'cpi_index'
))

salary_factor = 845*1e3/df_index.loc[lambda r: r.date.dt.year == 2024, 'salary_index'].mean()
property_factor = 825e3/df_index.loc[lambda r: r.date == '2025-01-01', 'property_index'].mean()

df_index = df_index\
.assign(
    salary = lambda r: r.salary_index * salary_factor,
    salary_yearly = lambda r: r.salary * 12,
    property = lambda r: r.property_index * property_factor * 120,
    finance_index = lambda r: r.property / r.salary_yearly
)

df_index.to_csv('data/index-data.csv')

In [29]:
def tax_salary(salary, date):

    query = {
        "LaunGreidast": "True",
        "Hjuskaparstada": 1,
        "Tekjuar": date.year,
        "Launamanudur": date.month,
        "Laun": int(salary),
        "LifeyrissjodurHlutfall": "0,04",
        "SereignHlutfall": "0,02",
        "NytingSkattkorts": 100,
        "NytingSkattkortsMaka": 100,
        "UppsafnadurPersonuafslattur": 0,
        "Orlof": 0,
        "Stettarfelag": 0,
        "Annad": 0,
        "MotframlagLifeyrissjodur": 0.0,
        "OkutaekjastyrkurUtan": 0,
        "IdgjaldSlysatryggingSjomanna": 0
    }

    url = "https://reiknivelarws.rsk.is/StadgreidslaForm"
    r = requests.post(url, data=query)
    url_split = r.url.replace(f"{url}/Results?", "").split("&")
    result = {}
    for key, value in [_.split("=") for _ in url_split][:-1]:
        result[key] = value

    result['date'] = date
    result['salary'] = salary

    return result

In [31]:
results = []
for i, row in df_index.loc[lambda r: r.date >= '2015-01-01'].iterrows():
    results.append(tax_salary(row.salary, row.date))
    print(i, row.date)
    time.sleep(1)
df_taxed_salary = pd.DataFrame(results)

312 2015-01-01 00:00:00
313 2015-02-01 00:00:00
314 2015-03-01 00:00:00
315 2015-04-01 00:00:00
316 2015-05-01 00:00:00
317 2015-06-01 00:00:00
318 2015-07-01 00:00:00
319 2015-08-01 00:00:00
320 2015-09-01 00:00:00
321 2015-10-01 00:00:00
322 2015-11-01 00:00:00
323 2015-12-01 00:00:00
324 2016-01-01 00:00:00
325 2016-02-01 00:00:00
326 2016-03-01 00:00:00
327 2016-04-01 00:00:00
328 2016-05-01 00:00:00
329 2016-06-01 00:00:00
330 2016-07-01 00:00:00
331 2016-08-01 00:00:00
332 2016-09-01 00:00:00
333 2016-10-01 00:00:00
334 2016-11-01 00:00:00
335 2016-12-01 00:00:00
336 2017-01-01 00:00:00
337 2017-02-01 00:00:00
338 2017-03-01 00:00:00
339 2017-04-01 00:00:00
340 2017-05-01 00:00:00
341 2017-06-01 00:00:00
342 2017-07-01 00:00:00
343 2017-08-01 00:00:00
344 2017-09-01 00:00:00
345 2017-10-01 00:00:00
346 2017-11-01 00:00:00
347 2017-12-01 00:00:00
348 2018-01-01 00:00:00
349 2018-02-01 00:00:00
350 2018-03-01 00:00:00
351 2018-04-01 00:00:00
352 2018-05-01 00:00:00
353 2018-06-01 00:00:00
354 2018-07-01 00:00:00
355 2018-08-01 00:00:00
356 2018-09-01 00:00:00
357 2018-10-01 00:00:00
358 2018-11-01 00:00:00
359 2018-12-01 00:00:00
360 2019-01-01 00:00:00
361 2019-02-01 00:00:00
362 2019-03-01 00:00:00
363 2019-04-01 00:00:00
364 2019-05-01 00:00:00
365 2019-06-01 00:00:00
366 2019-07-01 00:00:00
367 2019-08-01 00:00:00
368 2019-09-01 00:00:00
369 2019-10-01 00:00:00
370 2019-11-01 00:00:00
371 2019-12-01 00:00:00
372 2020-01-01 00:00:00
373 2020-02-01 00:00:00
374 2020-03-01 00:00:00
375 2020-04-01 00:00:00
376 2020-05-01 00:00:00
377 2020-06-01 00:00:00
378 2020-07-01 00:00:00
379 2020-08-01 00:00:00
380 2020-09-01 00:00:00
381 2020-10-01 00:00:00
382 2020-11-01 00:00:00
383 2020-12-01 00:00:00
384 2021-01-01 00:00:00
385 2021-02-01 00:00:00
386 2021-03-01 00:00:00
387 2021-04-01 00:00:00
388 2021-05-01 00:00:00
389 2021-06-01 00:00:00
390 2021-07-01 00:00:00
391 2021-08-01 00:00:00
392 2021-09-01 00:00:00
393 2021-10-01 00:00:00
394 2021-11-01 00:00:00
395 2021-12-01 00:00:00
396 2022-01-01 00:00:00
397 2022-02-01 00:00:00
398 2022-03-01 00:00:00
399 2022-04-01 00:00:00
400 2022-05-01 00:00:00
401 2022-06-01 00:00:00
402 2022-07-01 00:00:00
403 2022-08-01 00:00:00
404 2022-09-01 00:00:00
405 2022-10-01 00:00:00
406 2022-11-01 00:00:00
407 2022-12-01 00:00:00
408 2023-01-01 00:00:00
409 2023-02-01 00:00:00
410 2023-03-01 00:00:00
411 2023-04-01 00:00:00
412 2023-05-01 00:00:00
413 2023-06-01 00:00:00
414 2023-07-01 00:00:00
415 2023-08-01 00:00:00
416 2023-09-01 00:00:00
417 2023-10-01 00:00:00
418 2023-11-01 00:00:00
419 2023-12-01 00:00:00
420 2024-01-01 00:00:00
421 2024-02-01 00:00:00
422 2024-03-01 00:00:00
423 2024-04-01 00:00:00
424 2024-05-01 00:00:00
425 2024-06-01 00:00:00
426 2024-07-01 00:00:00
427 2024-08-01 00:00:00
428 2024-09-01 00:00:00
429 2024-10-01 00:00:00
430 2024-11-01 00:00:00
431 2024-12-01 00:00:00
432 2025-01-01 00:00:00
433 2025-02-01 00:00:00
434 2025-03-01 00:00:00
435 2025-04-01 00:00:00
436 2025-05-01 00:00:00
437 2025-06-01 00:00:00
438 2025-07-01 00:00:00
439 2025-08-01 00:00:00
440 2025-09-01 00:00:00
441 2025-10-01 00:00:00

In [32]:
#df_taxed_salary.to_csv("data/taxed_salary.csv")
df_taxed_salary = pd.DataFrame(results)\
.rename(columns={
    'salary': 'brutto_salary',
    'Lifeyrissjodur': 'mandatory_pension',
    'Sereignarsjodur': 'private_pension',
    'UtborgudLaun': 'netto_salary',
    'GreiddStadgreidsla': 'tax_paid_total',
    'Skattstofn': 'taxable_salary',
    'Personuafslattur': 'personal_discount'
})\
.assign(
    date = lambda r: r.date.pipe(pd.to_datetime)
)\
.set_index('date')\
.loc[:, ['brutto_salary', 'mandatory_pension', 'private_pension', 'netto_salary', 'tax_paid_total', 'taxable_salary', 'personal_discount']]\
.astype(float)

In [33]:
df_taxed_salary.to_csv("data/salary-numbers.csv")

In [34]:
df_taxed_salary

,brutto_salary,mandatory_pension,private_pension,netto_salary,tax_paid_total,taxable_salary,personal_discount
date,,,,,,,
2015-01-01,418974.201576,16759.0,8379.0,295769.0,98066.0,393835.0,50902.0
2015-02-01,421245.292410,16850.0,8424.0,297056.0,98914.0,395970.0,50902.0
2015-03-01,422338.780589,16894.0,8446.0,297675.0,99322.0,396997.0,50902.0
2015-04-01,423264.039818,16931.0,8465.0,298200.0,99668.0,397868.0,50902.0
2015-05-01,425366.901701,17015.0,8507.0,299391.0,100453.0,399844.0,50902.0
...,...,...,...,...,...,...,...
2025-06-01,915838.407300,36634.0,18316.0,633207.0,227680.0,860887.0,68691.0
2025-07-01,913735.545417,36549.0,18274.0,631981.0,226929.0,858910.0,68691.0
2025-08-01,914913.148071,36597.0,18298.0,632668.0,227350.0,860018.0,68691.0
2025-09-01,922231.107424,36889.0,18444.0,636934.0,229963.0,866897.0,68691.0
2025-10-01,923661.053505,36946.0,18473.0,637767.0,230474.0,868241.0,68691.0